registry=https://registry.npmjs.org/
@micro:registry=http://192.168.200.101/api/v4/packages/npm
//192.168.200.101/api/v4/projects/18/packages/npm/:_authToken=<**************>
//192.168.200.101/api/v4/packages/npm/:_authToken=<**************>
